.site-nav-list {
  @include list-reset;

  & li {
    @include set-font(20px, 1.2, 400);

    margin-bottom: 16px;

    & a {
      color: inherit;
    }
  }

  @include media-min ($xl) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

    & li {
      margin-bottom: 0;

      & a {
        color: inherit;
        transition: color 0.15s ease-in-out, text-decoration-color 0.15s ease-in-out;

        &:hover {
          color: var(--accent);
          text-decoration-color: var(--accent);
        }
      }
    }
  }
}
