.case-description {
  &__title {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 110px;
      height: 8px;
      background-color: var(--accent);
    }
  }

  &__short-descr {
    @include cms-text;

    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  & ul {
    padding-left: 20px;
  }

  @include media-min ($md) {
    &__title {
      padding-bottom: 40px;
    }
  }

  @include media-min ($xl) {
    &__title {
      padding-bottom: 30px;
      margin-bottom: 15px;
    }
  }
}
