.problems {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    @include list-reset;

    margin-bottom: 50px;
    counter-reset: problems;

    & li {
      display: flex;
      counter-increment: problems;
      margin-bottom: 20px;
      border-top: 1px solid var(--border);

      &::before {
        @include set-font(30px, 1.2, 700);

        content: '0'counter(problems);
        letter-spacing: -0.9px;
        color: var(--accent);
        opacity: 0.3;
        margin-right: 20px;
      }

      & span {
        padding: 5px 0;
      }
    }
  }

  &__form {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100vw;
      bottom: 0;
      width: 200vw;
      background-color: var(--bright-block-bg);
      z-index: 0;
    }
  }

  &__form-wrapper {
    position: relative;
    color: var(--bright-block-text);
    border-radius: 15px;
  }

  &__form-subtitle {
    margin-bottom: 30px;
  }

  &__form-content {
    color: var(--main-text);
    background-color: var(--main-bg);
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: var(--shadow-block);
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
  }

  &__resume {
    padding-top: 50px;
  }


  @include media-min ($md) {
    padding-bottom: 100px;

    &__title {
      margin-bottom: 50px;
      text-align: center;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
      column-gap: 30px;

      & li {
        border-top: none;
        margin-bottom: 0;

        &::before {
          --text-fz: 40px;
        }
      }
    }

    &__form {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &__form-subtitle {
      text-align: center;
    }

    &__form-content {
      padding: 30px 80px;
    }

    &__resume {
      padding-top: 100px;
    }
  }

  @include media-min ($xl) {
    &__list {
      margin-top: 40px;

      & li {
        &::before {
          --text-fz: 60px;
        }

        & span {
          padding: 10px 0;
        }
      }
    }

    &__form-subtitle {
      margin-bottom: 50px;
    }
  }

  @include media-min ($xxl) {
    padding-bottom: 70px;

    &__list {
      margin-top: 70px;
    }

    &__form {
      padding-top: 70px;
      padding-bottom: 0;
      padding-left: 160px;

      &::before {
        left: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='983' height='586' viewBox='0 0 983 586' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H983V586H244L0 0Z' fill='%23F7AC4C'/%3E%3Cg filter='url(%23filter0_d_1601_71)'%3E%3Cpath d='M0 0L527.5 170.5L306 0H0Z' fill='%23F49339'/%3E%3C/g%3E%3Cg filter='url(%23filter1_d_1601_71)'%3E%3Cpath d='M0 0L51 122L170.5 149.5L0 0Z' fill='%23FA7B35'/%3E%3C/g%3E%3Cg filter='url(%23filter2_d_1601_71)'%3E%3Cpath d='M51 122L240 586H642L51 122Z' fill='%23F4943B'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1601_71' x='-170.44' y='-153.396' width='868.38' height='511.38' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='17.044'/%3E%3CfeGaussianBlur stdDeviation='85.2201'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1601_71'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1601_71' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d_1601_71' x='-170.44' y='-153.396' width='511.38' height='490.38' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='17.044'/%3E%3CfeGaussianBlur stdDeviation='85.2201'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1601_71'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1601_71' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter2_d_1601_71' x='-119.44' y='-31.3962' width='931.88' height='804.88' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='17.044'/%3E%3CfeGaussianBlur stdDeviation='85.2201'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1601_71'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1601_71' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 320px 100%);
      }
    }

    &__form-subtitle {
      text-align: left;
    }

    &__form-content {
      margin-left: 0;
    }

    &__resume {
      padding-top: 160px;

    }
  }
}
