.footer{
  background: white;
  padding: 24px 0 30px;
  &__logo{
    margin-bottom: 28px;
    &-top{
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 23px;
      color: $red-light;
      text-align: center;
      display: block;
      &:hover{
        color: $red-light;
      }
    }
    p{
      text-align: center;
      font-size: 16px;
      line-height: 130%;
    }

    img{
      max-width: 200px;
      @media (max-width: 767.98px) {
        margin: 0 auto;
      }
    }
  }
  &__social{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
    a{
      display: block;
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
      &.footer__social-tel{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .def-button{
    width: 240px;
    margin: auto;
  }
  &-bot{
    margin-top: 20px;
    &__politics{
      text-align: center;
      text-decoration: underline;
      margin-bottom: 15px;
      display: block;
      font-size: 14px;
      cursor: pointer;
    }
    &__web4site{
      text-align: center;
      display: block;
      font-size: 14px;
    }
  }
}

.popup{
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: scroll;
  &__back{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.49);
  }
  &__close{
    position: absolute;
    top: 10px;
    right: 13px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      rect{
        fill: $red-light;
      }
    }
  }
  &__wrap{
    max-width: calc(100% - 18px);
    width: 100%;
    position: absolute;
    left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%);
    background-color: #fff;
    //padding: 40px 20px 30px;
    box-shadow: 0 0 100px rgba($red-light, 0.2);
    border-radius: 25px;
    padding: 43px 11px 38px;
    top: 0;
    transform: translate(-50%, 0);
    &-title{
      font-weight: 500;
      font-size: 26px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 25px;
    }
  }

  &_adv{
    .popup__wrap{
      /*padding: 43px 11px 38px;
      top: 0;
      transform: translate(-50%, 0);*/
    }
    .popup__insert{
      &>div{
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }

  }

  &_quiz{
    &__text{
      margin-bottom: 40px;
      text-align: center;
    }
    &__block{
      margin-bottom: 25px;
      &>p{
        margin-bottom: 14px;
      }
      &-radio{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        input{
          flex-shrink: 0;
          margin-right: 16px;
        }
      }
    }
  }

  &_conf{
    .popup__wrap{
      max-width: 85%;
    }
  }
}

@media screen
and (min-width: 768px){
  .footer{
    padding-bottom: 40px;
    &__logo{
      margin-bottom: 0;
      &-top{
        font-size: 20px;
        text-align: left;
      }
      p{
        font-size: 16px;
        text-align: left;
      }
    }
    &__social{
      justify-content: flex-start;
      a{
        &.footer__social-tel{
          width: auto;
          margin-right: 20px;
          margin-bottom: 0;
        }
      }
    }
    .def-button{
      margin: 0;
    }
    &-bot{
      &__politics{
        text-align: left;
      }
      &__web4site{
        text-align: left;
      }
    }
  }

  .popup{
    &__wrap{
      max-width: 700px;
    }
    &_quiz{
      .popup__wrap{
        padding: 50px 139px;
      }
      &__text{
        margin-bottom: 60px;
      }
    }
  }
}

@media screen
and (min-width: 1200px){
  .footer{
    &__logo{
      a{
        //display: flex;
      }
      &-top{
        margin-right: 22px;
      }
    }
    &__block{
      justify-content: space-between;
    }
    &__social{
      a{
        margin-right: 20px;
      }
    }
    &-bot{
      margin-top: 0;
      &__politics{
        margin-bottom: 4px;
        text-align: left;
      }
      &__web4site{
        text-align: left;
      }
    }
  }

  .popup{
    &__wrap{
      max-width: 570px;
    }
    &_quiz{
      .popup__wrap{
        padding: 50px 74px;
      }
    }
  }
}

@media screen
and (min-width: 1600px){
  .footer{
  }
}
