.first{
  .def-title{
    font-size: 30px;
  }
  &-top{
    padding-top: 5px;
    padding-bottom: 58px;
    .def-title{
      margin-bottom: 16px;
    }
    p{
      margin-bottom: 30px;
    }
  }
  &-bot{
    .def-title{
      margin-bottom: 15px;
    }
    p{
      span{
        color: $green;
      }
    }
    form{
      margin-top: 29px;
      input[type=tel]{
       // margin-bottom: 26px;
      }
    }
    .b24-form{
      &-content{
        padding: 0;
      }
      /*&-btn{
        border-radius: 30px;
        font-size: 18px;
        width: 100%;
      }*/
      &-wrapper{
        max-width: none;
        min-height: 0;
      }
      .b24-form-control{
        border-radius: 30px;
        width: 100%;
      }
      &-btn-block{
        padding: 0;
      }
      &-btn-container{
        display: block;
        margin: 0;
        width: 100%;
        margin-bottom: 20px;
      }

      form{
        display: flex;
        flex-wrap: wrap;
        &>div{
          &:first-child{
            width: 100%;
          }
          &:nth-child(2){
            order: 1;
          }
        }
      }
    }
  }
}

.problems{
  padding-top: 77px;
  overflow-x: hidden;
  .def-title{
    margin-bottom: 33px;
    text-align: center;
  }
  &-left{
    margin-bottom: 65px;
  }
  &-right{
    padding-top: 32px;
    padding-bottom: 65px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      max-width: none;
      width: 200vw;
      top: 0;
      bottom: 0;
      left: -50vw;
      background: $blue;
      z-index: -1;
    }
    .def-title{
      color: white;
      margin-bottom: 30px;
      font-size: 20px;
    }
    .b24-form{
      &-padding-side{
        padding: 0;
      }
    }
  }
}

.why{
  padding-top: 60px;
  &-left{
    margin-bottom: 60px;
  }
  &__title{
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 500;
  }
  iframe{
    width: 100%;
    height: 189px;
  }
  &__item{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    &-wrap{
      box-shadow: 0 10px 100px rgba(153, 153, 153, 0.1);
      border-radius: 10px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0 16px;
      p{
        line-height: 130%;
        text-align: center;
      }
      &__imgs{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          &:last-child{
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.benefit{
  padding-top: 60px;
  margin-bottom: 60px;
  .def-title{
    text-align: center;
    margin-bottom: 60px;
  }
  &__item{
    margin-bottom: 30px;
    text-align: center;
    &:last-child{
      margin-bottom: 0;
    }
    img, svg{
      margin: 0 auto 30px;
    }
  }
}

.conduct{
  padding-top: 36px;
  padding-bottom: 80px;
  background-color: $blue;
  .def-title{
    color: white;
    margin-bottom: 35px;
  }
  &-nav{
    margin-left: 55px;
    background-image: url("./files/imgs/icons/line.svg");
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: 15px;
    &__item{
      position: relative;
      display: flex;
      align-items: center;
      //margin-bottom: 88px;
      margin-bottom: 65px;
      cursor: pointer;
      &:last-child{
        margin-bottom: 0;
      }
      span{
        background: $blue;
        //width: 51px;
        //height: 51px;
        width: 29px;
        height: 29px;
        margin-right: 17px;
        position: relative;
        &::before{
          max-width: none;
          width: 29px;
          height: 29px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          display: block;
          content: '';
          background: white;
          border-radius: 50%;
          //border: 14.55px solid white;
          box-shadow: 0 0 10px #0084FF;
        }
      }
      &-name{
        text-transform: uppercase;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 900;
      }
      &-content{
        display: none;
        &__title{
          margin-bottom: 30px;
          font-weight: 500;
          font-size: 26px;
          line-height: 30px;
        }
      }

      &:hover{
        span{
          &::before{
            border: 7px solid white;
            background: $green;
          }
        }
      }
      &.active{
        span{
          &::before{
            border: 7px solid white;
            background: $green;
            width: 51px;
            height: 51px;
          }
        }
      }
    }
  }
  &-content{
    background: #FFFFFF;
    box-shadow: 0 0 100px rgba(0, 133, 255, 0.2);
    border-radius: 25px;
    //padding: 43px 11px 38px;
    display: none;
  }
}

.context{
  padding-top: 60px;
  .def-title{
    text-align: center;
    margin-bottom: 60px;
  }
  &-slider{
    box-shadow: 0 10px 100px rgba(153, 153, 153, 0.1);
    .col-xl-4{
      padding: 0;
    }
    .slick-arrow{
      bottom: -35px;
    }
    &__item{
      border-radius: 30px;
      //height: 1100px;
      height: 100%;
      &-top{
        border-radius: 30px 30px 0 0;
        background: $blue;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 18px;
        padding-bottom: 11px;
        *{
          color: white;
          text-align: center;
          &:hover{
            color: white;
          }
        }
        .def-title{
          font-size: 20px;
          margin-bottom: 0!important;
        }
      }
      &-bot{
        padding: 0 13px 20px;
      }
      &-setup{
        padding: 10px 0;
        text-align: center;
        font-weight: 500;
        font-size: 26px;
      }
      &-price{
        color: $green;
        font-weight: 700;
        font-size: 45px;
        text-align: center;
        &::after{
          display: inline-block;
          content: url("./files/imgs/icons/ruble.svg");
        }
        &+p{
          margin-bottom: 20px;
          text-align: center;
          font-size: 16px;
        }
      }
      .def-button{
        width: 242px;
        margin: 0 auto 30px;
        height: 65px;
        font-size: 23px;
        line-height: 30px;
      }
    }
  }
}

.price{
  padding-top: 89px;
  .def-title{
    margin-bottom: 60px;
  }
  .item-count{
    align-items: flex-start;
  }
  &-bot{
    padding-top: 50px;
    &__from{
      color: $green;
      font-weight: 700;
      font-size: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
      span{
        color: $green;
        font-size: 45px;
        font-weight: 700;
        width: 160px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
      }
      &::after{
        content: url(./files/imgs/icons/ruble.svg);
        transform: translateY(5px);
      }
    }
    p{
      text-align: center;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 130%;
    }
    .def-button{
      padding-left: 25px;
      padding-right: 25px;
      width: fit-content;
      margin: 0 auto;
    }
  }
}

.success{
  padding-top: 60px;
  .def-title{
    margin-bottom: 30px;
    &+p{
      margin-bottom: 30px;
    }
  }
  &__item{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    img{
      margin-bottom: 10px;
    }
    &-title{
       margin-bottom: 10px;
       font-weight: 700;
     }
  }

}

.cases{
  padding-top: 60px;
  margin-bottom: 60px;
  overflow: hidden;
  &-slider{
    margin-bottom: 40px;
    .slick-arrow{
      //bottom: -35px;
      top: -25px;
    }
    &__item{
      overflow-x: hidden;
    }
    // стрелки сверху и снизу
    /*&__arrows{
      &.top{
        height: 50px;
      }
      .prev{
        right: calc(50% + 5px);
        background-image: url("./files/imgs/icons/arrow.svg");
      }
      .next{
        left: calc(50% + 5px);
        background-image: url("./files/imgs/icons/arrow2.svg");
        background-position-x: right;
      }
    }*/
  }
  .def-title{
    margin-bottom: 43px;
  }
  &-left{
    padding-top: 17px;
    //padding-bottom: 84px;
    padding-bottom: 30px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      max-width: none;
      width: 200vw;
      top: 0;
      bottom: 0;
      left: -50vw;
      background-color: $blue;
      z-index: -3;
    }
    *{
      color: white;
      &:hover{
        color: white;
      }
    }
    .def-title{
      margin-bottom: 20px;
      font-size: 20px;
    }
    &__block{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
      &-title{
        margin-bottom: 12px;
        font-weight: 700;
      }
      .ul-list{
        li{
          &::before{
            background: white;
          }
        }
      }
    }
  }
  &-right{
    padding-top: 22px;
    &__item{
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
      &-title{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        span{
          font-family: Montserrat, sans-serif;;
          font-weight: bold;
          font-size: 60px;
          color: $green;
          margin-right: 16px;
          line-height: 1;
        }
        p{
          font-family: Montserrat, sans-serif;;
          font-weight: 500;
          font-size: 20px;
          text-transform: uppercase;
        }
      }
      &-block{
        margin-bottom: 7px;
        &:nth-last-child(-n+2){
          margin-bottom: 0;
        }
        span{
          font-family: Montserrat, sans-serif;;
          font-weight: 500;
          font-size: 26px;
          line-height: 1;
          margin-bottom: 12px;
          display: block;
          &.rub{
            &::after{
              content: ' руб.';
              font-size: 20px;
              line-height: 1;
              font-weight: 500;
            }
          }
        }
        p{
        }
      }
    }
  }
  &-review{
    padding-top: 20px;
    iframe{
      width: 100%;
      height: 189px;
    }
    &__title{
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
}

.contacts{
  //padding-top: 60px;
  .def-title{
    margin-bottom: 10px;
  }
  &__item{
    margin-bottom: 10px;
    width: fit-content;
    &:last-child{
      margin-bottom: 0;
    }
    &-bot{
      //padding-top: 5px;
      color: $blue;
      font-size: 26px;
      font-weight: 500;
      display: block;
      &:hover{
        color: $blue;
      }
    }
    &-socials{
      a{
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
  &-map{
    margin-top: 20px;
    iframe{
      width: 100%;
      height: 369px;
    }
  }
}