@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&family=Roboto:wght@400;500;700&display=swap');

$def-color: rgba(#373737, .93);
$red-light: #42A4FF;
$red-light-light: #8EC9FF;
$green: #00AB97;

$red: #E20612;
$red-light: #F6512C;

*{
  box-sizing: border-box;
  color: $def-color;
  font-size: 18px;
  line-height: 140%;
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
}

html, body{
  min-height: 100vh!important;
  height: 100%!important;
  margin: 0;
}

main{
  flex: 1 0 auto;
  padding-top: 67px;
}
footer, header{
  flex: 0 0 auto;
}

*::before, *::after{
  max-width: 100%;
}

ul{
  margin: 0;
  padding-left: 0;
  list-style: none;
}

li{
  margin: 0;
  padding: 0;
}

img, svg{
  display: block;
  max-height: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
  //font-size: 1.15rem;
  margin: 0;
  padding: 0;
  //line-height: 1;
  color: $def-color;
  text-decoration: none;
}

p, span, a{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  //line-height: 1;
  color: $def-color;
  text-decoration: none;

  &:hover{
    color: $def-color;
    text-decoration: none;
  }
}

a{
  outline: none;
}

input:not([type=checkbox]):not([type=radio]), textarea{
  max-width: 100%;
  width: 100%;
  outline: none;
  border-radius: 30px;
  height: 51px;
  border: 1px solid rgba(55, 55, 55, 0.93);
  padding-left: 20px;
  padding-right: 20px;
  &::placeholder{
    color: rgba(148, 148, 148, 0.93);
  }
}

input[type='radio'] {
  position: relative;
  width: 18px;
  outline: none;
  cursor: pointer;
  appearance: none;
  margin-bottom: 0;
  height: 18px;
  &+label{
    display: inline-block;
  }
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid $red-light;
  }
  &:checked{
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $red;
      transform: translate(-50%, -50%);
      visibility: visible;
    }
  }
}

.slick-slide{
  outline: none;
}

.slick-arrow{
  position: absolute;
  font-size: 0;
  outline: none;
  border: none;
  z-index: 1;
  cursor: pointer;
  width: 68px;
  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
}
.slick-prev{
  right: calc(50% + 5px);
  background-image: url("./files/imgs/icons/arrow.svg");
}
.slick-next{
  left: calc(50% + 5px);
  background-image: url("./files/imgs/icons/arrow2.svg");
  background-position-x: right;
}

.row{
  margin-left: -5px;
  margin-right: -5px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9{
  padding-right: 5px;
  padding-left: 5px;
}

@media (min-width: 768px) and (max-width: 1199.98px){
  main{
    padding-top: 71px;
  }
  .row{
    margin-left: -10px;
    margin-right: -10px;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9{
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 1200px){
  .container{
    max-width: 1200px;
  }
  .row{
    margin-left: -15px;
    margin-right: -15px;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9{
    padding-right: 15px;
    padding-left: 15px;
  }
  main{
    padding-top: 95px;
  }
}

@media (min-width: 1600px){
  *{
    font-size: 20px;
  }
  .container{
    max-width: 1620px;
  }
  .col-xxl-1{
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xxl-2{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xxl-3{
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxl-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xxl-5{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xxl-6{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xxl-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xxl-12{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-xxl-0{
    margin-left: 0%;
  }
  .offset-xxl-1{
    margin-left: 8.333333%;
  }
  .offset-xxl-5{
    margin-left: 41.666667%;
  }
}








